<div *ngIf="postItem" class="post-wrapper">
  <div class="title-container">
    <img src="assets/images/www-icon.png" class="icon" />
    <a class="title" [href]="postItem.url">{{ postItem.title }}&nbsp;</a>
  </div>
  <p
    *ngIf="postItem.url"
    title="View the full article on {{ postItem.url }}"
    class="url"
  >
    ({{ postItem.url }})
  </p>

  <div class="post-details">
    <div>
      {{ postItem.score }} points by {{ postItem.by }}
      <span
        *ngIf="postItem.kids && postItem.kids.length > 0"
        (click)="goToPostComments()"
      >
        |<span [class.view-comments]="!viewingComment">
          {{ postItem.kids.length }} comments</span
        >
      </span>
    </div>
  </div>
</div>
