<div *ngIf="postItem" class="post-wrapper">
  <div class="post-link-data">
    <div class="title-container">
      <img src="assets/images/www-icon.png" class="title-icon" />
      <a class="title" [href]="postItem.url">{{ postItem.title }}&nbsp;</a>
    </div>
    <p *ngIf="postItem.url" title="{{ postItem.url }}" class="url">
      {{ postItem.url }}
    </p>
  </div>

  <div class="post-meta-data">
    <div class="meta-item-conatiner">
      <img src="assets/images/thumbs-up.png" class="meta-icon" />
      {{ postItem.score }} points by {{ postItem.by }}
    </div>
    <div
      class="meta-item-conatiner"
      [class.view-comments]="!viewingComment"
      *ngIf="postItem.kids && postItem.kids.length > 0"
      (click)="goToPostComments()"
    >
      <img src="assets/images/replies.png" class="meta-icon" />
      {{ postItem.kids.length }} comments
    </div>
  </div>
</div>
