@import "../../../assets/styles.scss";

.post-wrapper {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: #eaeaea;
  padding: 10px;
  .post-link-data {
    .title-container {
      display: flex;
      align-items: center;
      gap: 6px;
      font-weight: bold;
      text-decoration: none;
      color: #0074cc;
      .title {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          color: #339dff;
        }
      }
      .title-icon {
        width: 16x;
        height: 16px;
      }
    }
    .url {
      font-style: italic;
      display: block;
      max-width: inherit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: help;
    }
  }
  .post-meta-data {
    color: #555;
    font-size: 0.9rem;
    background: #f7f7f7;
    font-size: 0.9rem;
    .view-comments {
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: #0074cc;
      }
    }
    .meta-item-container {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    .meta-icon {
      height: 12px;
      width: 12px;
    }
  }
}
