<div class="header-wrapper">
  <img
    src="assets/images/hacker-news-header.png"
    class="header-icon"
    alt="header icon"
  />
  <div class="header-nav-container">
    <div class="header-tagline">
      <h1 class="header">Hacker News</h1>
      <p class="tagline">
        The latest stories in tech, straight from the community.<br />Curated by
        developers, for developers.
      </p>
    </div>
    <div class="nav-container">
      <button
        *ngFor="let button of navButtons"
        class="nav-button"
        [routerLink]="button.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      >
        {{ button.label }}
      </button>
    </div>
  </div>
</div>
