@import "../../../assets/styles.scss";

.comment-wrapper {
  margin: 10px 5px 10px 5px;
  max-width: 100%;
  ::ng-deep .comment-text {
    p {
      font-family: $font-primary;
      padding: 5px;
      margin: 0px;
    }
  }

  .nested-comments {
    border-left: 1px dashed black;
    margin-left: 25px;
    max-width: calc(100% - 25px);
  }

  .inline-comment-container {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .replies-toggle {
    margin-left: 15px;
    text-decoration: underline;
    color: #555;
    cursor: pointer;
    &:hover {
      color: #0074cc;
    }
  }
}
