<div *ngIf="comment" class="comment-wrapper">
  <div class="inline-comment-container">
    &bull;
    <div class="comment-text" [innerHTML]="comment.text"></div>
  </div>
  <span
    *ngIf="comment.kids?.length"
    class="replies-toggle"
    (click)="viewReplies($event)"
  >
    {{ showReplies ? "hide replies" : "see replies" }}
  </span>

  <app-spinner *ngIf="loadingComments" [loadingComments]="true"></app-spinner>

  <div *ngIf="showReplies" class="nested-comments">
    <ng-container *ngFor="let child of nestedComments">
      <app-comment-item
        *ngIf="!child.deleted"
        [comment]="child"
      ></app-comment-item>
    </ng-container>
  </div>
</div>
