<div class="comments-wrapper">
  <app-error-state *ngIf="displayErrorMessage"></app-error-state>
  <app-post-item
    *ngIf="postItem"
    class="post-item"
    [postItem]="postItem"
    [viewingComment]="true"
  ></app-post-item>
  <div class="comments-list">
    <app-spinner *ngIf="loading" [loadingComments]="true"></app-spinner>
    <ng-container *ngFor="let child of comments">
      <app-comment-item
        *ngIf="!child.deleted"
        [comment]="child"
      ></app-comment-item>
    </ng-container>
  </div>
</div>
